/* reglas CSS para layers */
/*body selector base*/

body {background: #00ff08;}

.contenedor {
    margin: 5px auto;
    background: red;
    width: 95%; /*95 porciento de body*/
    height: auto;
}

.encabezado {
    margin: 5px auto;
    background: #F4C33A;
    width: 95%; /*95 porciento de contenedor*/
    height: 150px;
}

.contenido {
    margin: 5px auto;
    background: #305EF4;
    width: 95%; /*95 porciento de contenedor*/
    height: 250px;
}

.pie {
    margin: 5px auto;
    background: gray;
    width: 95%; /*95 porciento de contenedor*/
    height: 50px;
}
span {
    color:  #EADB02;
    font-size: 2em;
    padding-left: 10px;
   
}

span.titulo {
    color:  #EADB02;
    font-size: 3em;
    padding-left: 10px;
    border: 1px dotted #000000;
}
/*
 * selector [./#]nombre {declaracion}
 * selector1  selector2  {declaracion}
 * selector1 > selector2  {declaracion}
 * selector1 + selector2  {declaracion}
 * selector1 , selector2  {declaracion}
 * selector1 .nombre  {declaracion}
 * ............pseudoselector ....
 * selector:evento {delaracion}
 *
 *
 *
 *
 * 
 */
h1 + h3 {color: white;}

h1 , h3 {color: silver;}

span.titulo:first-child {color: #3ACE35}

p:first-letter {color: white;}

.izq {
    float: left;
    font-size: 1.5em;
    background: #fff;
    width: 20%;
    
}

.cuerpo {
    float left: ;
}